# Virtual Environment
ml-env/
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data
*.csv

# Models / Artifacts
*.pkl
*.joblib
*.h5
*.pt
*.pth
*.onnx

# IDEs
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
logs/
